
@{
    ViewData["Title"] = "ErrorView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


        <h1 style="text-align: center; text-decoration-color: #ff0000">Access denied</h1>
        <h3 style="text-align: center; text-decoration-color: #ff0000">Only correctional facility employees of certain level of authorization can access</h3>
  
