@model Tartarus_final.Models.Poruka

@{
    ViewData["Title"] = "Create";
}

    <h1>Compose new</h1>

<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tekst" title="Text" class="control-label"></label>
                <input asp-for="Tekst" class="form-control" />
                <span asp-validation-for="Tekst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimalacEmail" title="Receiver" class="control-label"></label>
                <input asp-for="PrimalacEmail" class="form-control" />
                <span asp-validation-for="PrimalacEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="posiljalacEmail" title="Sender" class="control-label"></label>
                <input asp-for="posiljalacEmail" class="form-control" />
                <span asp-validation-for="posiljalacEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
