
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d-flex justify-content-center">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="~/img/Picture4.svg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Prisoners</h5>
                    <p class="card-text">Modify information about prisoners, their behavioral evaluation etc. Add or dismiss prisoners form correctional facility.</p>
                    <p class="card-text">
                        <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Zatvorenici")'">Take a look</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="~/img/Picture6.svg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Messages</h5>
                    <p class="card-text">Send messages to colleagues working in correctional justice system.</p>
                    <p class="card-text"><button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Poruka")'">Take a look</button></p>
                </div>
            </div>
        </div>
    </div>
</div>
